<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Douglas (Shingirayi) Chifetete loves programming, writing, reading, traveling, and lifting heavy things. He is not a fan of talking about himself
      in the 3rd person. He is a software engineer co-founder
      <a href="{{ site.entelect_url }}?ref=douglaschifetete-home" target="_blank">Entelectk</a>, a company that provides
      software development services.
      Previously, he worked as a software engineer at DVT, Econet Wireless Zimbabwe, and eSolutions and got his bachelors degree at the University of Zimbabwe. Douglas also has a Masters degree in obtained from Università Cattolica del Sacro Cuore. For more info, check out his
      <a href="{{ site.nav.main.writing }}">writing</a>,
      <a href="{{ site.nav.main.projects }}">projects</a>, and 
      <a href="{{ site.nav.main.photos }}">photos</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
